@font-face {
    font-family: 'OpenSansRegular, Helvetica, Arial, sans-serif';
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'OpenSansBold, Helvetica, Arial, sans-serif';
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'OpenSansLight, Helvetica, Arial, sans-serif';
    src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: 'OpenSansItalic';
    src: url(../fonts/OpenSans-Italic.ttf);
}

@font-face {
    font-family: 'OpenSansLightItalic';
    src: url(../fonts/OpenSans-LightItalic.ttf);
}



@color-navy: #006ab4;
@color-navy-dark: #00497c;
@color-navy-light-text: #7fb4d9;
@color-navy-light: #b2d2e8;
@color-gray-dark-text: #646464;
@color-gray-light-text: #b2b2b2;
@color-form-error: #fe8686;

.fontRegular {
    font-family: OpenSansRegular, Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.fontBold {
    font-family: OpenSansBold, Helvetica, Arial, sans-serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

@import "fancySelectOverwriting.less";
@import "header.less";
@import "footer.less";

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    padding: 0;
}

input, textarea {
    border: none;
    padding: 0;
}

h1 {
    margin: 0;
}

.align {

    &__table {
        display: table;
    }

    &__tablerow {
        display: table-row;
    }

    &__tablecell {
        display: table-cell;
    }
}


.background {
    width: 100%;
    background: url(../img/background-light.png) repeat;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: url(../img/background-blue.jpg) repeat-y;
        background-size: contain;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../img/background-pattern.png) repeat;
    }

    &--short {

        &:before {
            height: 260px;
        }
    }

    &--high {

        &:before {
            height: 475px;
        }
    }
}

.container {
    width: 940px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.dialog {
    padding: 20px 25px 25px 25px;
    box-sizing: border-box;
    background: #FFFFFF;

    &__p {
        font-size: 13px;
        &:extend(.fontRegular);
        color: #a1a1a1;
        line-height: 20px;
    }
}

.common {

    &__title {

        &:extend(.fontBold);
        color: @color-navy;

        &--form {
            font-size: 11px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        &--text {
            font-size: 14px;
            position: relative;
            margin: 25px 0 15px 0;

            &:after {
                content: '';
                position: absolute;
                width: 25px;
                left: 0;
                bottom: -7px;
                border-bottom: 1px solid @color-navy;
            }
        }
    }

    &__content {
        font-size: 14px;
        font-family: OpenSansLight, Helvetica, Arial, sans-serif;
        font-weight: 100;
        color: #aaaaaa;
        margin: 30px 0 35px 0;

        &--light {
            color: #e6e6e6;
        }

        &--quote {
            margin: 0 0 0 30px;
            p {
                margin: 5px 0;
            }
        }
    }

    &__link {
        font-size: 14px;
        font-family: OpenSansLight, Helvetica, Arial, sans-serif;
        font-weight: 100;
        color: @color-navy;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 0;
            border-bottom: 1px solid @color-navy;
        }
    }
}

.form {
    background: #FFFFFF;
    position: relative;

    &__input, &__textarea {
        padding-left: 15px;
        box-sizing: border-box;
        border-radius: 5px;
        text-align: center;
        font-size: 14px;
        color: @color-gray-dark-text;
        margin-bottom: 42px;
        box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.04);
    }

    &__input {
        height: 42px;
    }

    &__textarea {
        height: 84px;
        resize: none;
        padding-top: 10px;
    }

    &__error {
        font-size: 12px;
        font-family: OpenSansItalic;
        color: @color-form-error;

        img, span {
            display: inline-block;
            vertical-align: middle;
        }

        img {
            margin-right: 5px;
        }
    }

    &__error--input {
        position: absolute;
        bottom: 14px;
        display: none;
    }

    &__error--paragraph {
        width: 740px;
        border: 1px solid @color-form-error;
        padding: 10px 5px;
        box-sizing: border-box;
        margin-bottom: 15px;

        span {
            width: 695px;
            vertical-align: top;
        }
    }

    &__label {
        display: inline-block;
        position: relative;

        &--error {

            .form__input {
                border: 1px solid @color-form-error;
            }

            .form__error {
                display: block;
            }
        }

        // &--block {
        //     display: block
        // }

        &--right {
            float: right;
        }
    }

    &--short {
        width: 190px;
        &:extend(.fontRegular);
        text-align: left;
    }

    &--medium {
        width: 240px;
        &:extend(.fontBold);
    }

    &--long {
        width: 345px;
        margin-right: 20px;
        &:extend(.fontRegular);
        text-align: left;
    }

    &--light{
        border: 1px solid lighten(@color-navy-light-text, 15%);
    }

    &--dark{
        border: 1px solid @color-navy-light-text;
    }
}

.button-exchange {
    width: 197px;
    height: 42px;
    background: @color-navy url(../img/button-sign.png) 10px 10px no-repeat;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
        background: @color-navy-dark url(../img/button-sign.png) 10px 10px no-repeat;
    }

    &--step1 {
        float: right;
        margin-top: 25px;
    }

    &--step2 {
        display: inline-block;
        margin-top: 45px;
    }

    &--step3 {
        display: block;
        margin-top: 20px;
    }

    &--signin {
        float: right;
        margin-right: 20px;
        background: @color-navy url(../img/button-login.png) 35px 10px no-repeat;

        &:hover {
            background: @color-navy-dark url(../img/button-login.png) 35px 10px no-repeat;
        }
    }

    &--contact {
        position: absolute;
        bottom: 57px;
        right: 26px;
        background: @color-navy url(../img/button-send.png) 25px 10px no-repeat;

        &:hover {
            background: @color-navy-dark url(../img/button-send.png) 25px 10px no-repeat;
        }
    }

    a {
        width: 100%;
        height: 100%;
        display: inline-block;
    }
}

.article {

    &__title {

        font-size: 30px;
        &:extend(.fontBold);
        color: @color-navy;
        display: inline-block;
        vertical-align: middle;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 70px;
            border-bottom: 1px solid @color-navy;
        }

        &-icon {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }
    }

    &--light {

        width: 835px;
        display: inline-block;
        vertical-align: top;

        .article__title {
            color: #FFFFFF;
        }
    }
}

.table {
    width: 270px;
    padding: 10px;
    box-sizing: border-box;
    background: #f7f7f6;
    background: url(../img/background-light.png) repeat;
    border: 2px solid #e5e5e5;


    &__title {
        margin-bottom: 30px;

        &-image {
            display: inline-block;
            vertical-align: top;
        }

        &-text {
            font-size: 18px;
            &:extend(.fontBold);
            color: @color-navy;
            display: inline-block;
            vertical-align: top;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                width: 40px;
                left: 0;
                bottom: -8px;
                border-bottom: 1px solid @color-navy;
            }
        }
    }

    &__list {

        &-item {
            padding: 5px 0;
            border-bottom: 1px solid lighten(@color-gray-light-text, 20%);
        }

        &-title {
            font-size: 13px;
            &:extend(.fontBold);
            color: @color-gray-dark-text;
            display: inline-block;
            vertical-align: top;

            span {
                font-family: OpenSansLight, Helvetica, Arial, sans-serif;
                font-weight: 100;
            }
        }

        &-image {
            display: inline-block;
            vertical-align: top;
            margin-right: 5px;
        }

        &-value {
            font-size: 13px;
            &:extend(.fontBold);
            color: @color-navy;
            float: right;
        }
    }

    &__seeall {
        float: right;
        padding: 5px 0;
        box-sizing: border-box;

        a {
            font-size: 11px;
            &:extend(.fontRegular);
            color: @color-navy;
            opacity: .5;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 0;
                border-bottom: 1px dotted #71aacc;
            }

            &:hover {
                opacity: .8;
                &:after {
                    border-bottom: none;
                }
            }
        }
    }
}

.checklist {

    &__item {
        margin: 0 0 20px 30px;

        &-image {
            display: inline-block;
            vertical-align: text-bottom;
            margin-right: 5px;
        }

        &-text {
            font-size: 14px;
            font-family: OpenSansLight, Helvetica, Arial, sans-serif;
            font-weight: 100;
            color: darken(#dddddc, 10%);
            width: 680px;
            display: inline-block;
            vertical-align: top;
            line-height: 23px;
        }
    }
}

.quote {

    &__image {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
    }

    &__text {
        font-size: 13px;
        font-family: OpenSansLight, Helvetica, Arial, sans-serif;
        font-weight: 100;
        color: #aaaaaa;
        width: 390px;
        display: inline-block;
        vertical-align: top;
    }

    &__name {
        font-size: 14px;
        &:extend(.fontBold);
        color: #808080;
        margin-top: 30px;
    }

    &--review {

        .quote__content {
            padding: 15px 20px 25px 20px;
            box-sizing: border-box;
            background: #FFFFFF;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                left: 100px;
                bottom: -20px;
                width: 0;
                height: 0;
                border: 20px solid transparent;
                border-left: 20px solid #FFFFFF;
            }
        }
    }

    &--textpage {
        margin-left: 30px;

        .quote__name {
            margin-left: 30px;
        }

        .quote__text {
            width: 750px;
            font-size: 14px;
            font-family: OpenSansLightItalic;
        }
    }
}

.reviews {
    margin-top: 45px;

    &__item {
        display: inline-block;
        vertical-align: top;
        margin-right: 15px;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.step1 {

    &__form {
        width: 585px;
        display: inline-block;
        vertical-align: top;
    }

    .pay, .get, .action-next {
        display: inline-block;
        vertical-align: top;
        position: relative;
    }

    .get {
        .form__input {
            color: @color-navy-light-text;
        }
    }

    .action-next {
        width: 90px;
        top: 70px;

        .loader {
            width: 32px;
            height: 32px;
            position: absolute;
            left: 0;
            right: 0;
            margin:  0 auto;
            display: none;

            &.visible {
                display: inline-block;
            }
        }

        img {
            display: block;
            margin: 0 auto;
            cursor: pointer;

            &.hidden {
                display: none;
            }
        }
    }

    .table {
        float: right;
    }

    .about {
        margin-top: 45px;
    }
}

.step2 {

    .form__select.fancy-select {
        display: inline-block;
        vertical-align: top;
        position: relative;
        top: 25px;
    }
}

.numeration {
    margin-bottom: 20px;

    &__circle {
        display: inline-block;
        vertical-align: middle;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: @color-navy-light;
        font-size: 24px;
        &:extend(.fontBold);
        color: #FFFFFF;
        text-align: center;
    }

    &__text {
        display: inline-block;
        vertical-align: middle;
        font-size: 24px;
        &:extend(.fontBold);
        color: @color-navy-light;
    }
}

.radio {
    position: relative;
    margin-bottom: 40px;

    &__item {
        width: 240px;
        display: inline-block;
        border-right: 1px solid lighten(#a1a1a1, 10%);
        padding-right: 15px;
        margin-right: 20px;
        box-sizing: border-box;

        &:last-child {
            border-right: none;
            padding-right: 0;
            margin-right: 0;
        }
    }

    &__label {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        border: 1px solid @color-navy-light-text;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        margin-right: 5px;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            top: 1px;
            left: 1px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: transparent;
        }
    }

    &__text {
        font-size: 13px;
        &:extend(.fontRegular);
        color: #a1a1a1;
        width: 200px;
        display: inline-block;
        vertical-align: top;
    }

    &__input {
        display: none;
    }

    &__input:checked ~ &__label {

        &:after {
            background: @color-navy-light-text;
        }
    }

    &__input:checked ~ &__text {
        color: @color-navy-light-text;
    }
}

.step3 {

    .table {
        margin: 30px 0;

        &__title-text {
            font-size: 18px;
            text-transform: uppercase;
        }

        &__list-item {
            &:last-child {
                border: none;
            }
        }

        &__list-title {
            font-family: OpenSansLight, Helvetica, Arial, sans-serif;
            font-weight: 100;
            color: @color-gray-dark-text;
        }

        &__list-value {
            color: @color-gray-dark-text;
        }
    }
}

.checkbox {

    &__item {
        margin: 13px 0;
    }

    &__input {
        display: none;
    }

    &__label {
        width: 10px;
        height: 10px;
        border: 1px solid #a1a1a1;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        margin-right: 5px;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            width: 8px;
            height: 8px;
            background: none;
            opacity: .7;
        }
    }

    &__text {
        font-size: 13px;
        &:extend(.fontRegular);
        color: #a1a1a1;
        width: 695px;
        display: inline-block;
        vertical-align: top;
    }

    &__input:checked ~ &__label {

        border: 1px solid @color-navy-light-text;

        &:after {
            background: url(../img/icon-check-1.png) no-repeat;
            background-size: 7px 7px;
        }
    }

    &__input:checked ~ &__text {
        color: @color-navy-light-text;
    }
}

.captcha {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;

    &__input, &__image {
        display: inline-block;
        vertical-align: top;
        margin-right: 15px;
    }
}

.back {
    display: inline-block;
    margin: 10px 0;
    cursor: pointer;
    opacity: .7;

    &__image {
        display: inline-block;
        vertical-align: middle;
    }

    &__text {
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        font-family: OpenSansLight, Helvetica, Arial, sans-serif;
        font-weight: 100;
        color: @color-navy;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 0;
            border-bottom: 1px solid @color-navy;
            opacity: .5;
        }
    }

    &:hover {
        opacity: .9;

        .back__text {

            &:after {
                border-bottom: none;
            }
        }
    }
}

.signin {

    .sublink {
        display: block;
        margin-bottom: 10px;

        a {
            &:before {
                border-right: none;
            }
        }
    }

    &__form {
        width: 734px;
    }

    .form__input {
        margin-bottom: 0;
    }

    .checkbox {
        margin-bottom: 25px;

        &__text {
            vertical-align: bottom;
        }
    }
}

.rates {
    &__table {
        width: 100%;
        margin: 30px 0;
        border-collapse: collapse;

        thead {
            line-height: 30px;

            tr {
                background: @color-navy;
                border: 1px solid @color-navy;
            }
        }

        th {
            font-size: 11px;
            &:extend(.fontBold);
            color: #FFFFFF;
            text-transform: uppercase;
        }

        td {
            font-size: 13px;
            font-family: OpenSansLight,Helvetica,Arial,sans-serif;
            font-weight: 100;
            color: #646464;
            text-align: center;
            line-height: 42px;
        }

        tr {
            border-right: 1px solid #e6e6e6;
            border-left: 1px solid #e6e6e6;
            background: #fafafa;
            box-sizing: border-box;

            &:last-child {
                border-bottom: 1px solid #e6e6e6;
            }

            &:nth-child(2n) {
                background: #FFFFFF;
            }
        }

        & .mix{
            display: none;
        }
    }

    &__td {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            bottom: 0;
            right: 0;
            margin-top: -6px;
            width: 0;
            height: 12px;
            border-right: 1px solid #a2a2a2;
            opacity: .5;
        }

        &:last-child {

            &:after {
                border-right: none;
            }
        }
    }

    &__td--exchange {
        width: 250px;
    }

    &__td--fee {
        width: 50px;
    }

    &__td--comission {

    }

    &__td--type {
        width: 110px;
    }

    &__td--reserve {
        width: 145px;
    }

    &__from, &__point, &__to {
        display: inline-block;
        vertical-align: middle;
    }

    &__from, &__to {

        img {
            margin-right: 5px;
            display: inline-block;
            vertical-align: middle;
        }

        span {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__point {
        margin: 0 5px;
    }
}

.faq {

    &__question {
        margin: 10px 0 10px 15px;

        a {
            font-size: 13px;
            &:extend(.fontRegular);
            color: #7fb4d9;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 0;
                border-bottom: 1px solid #7fb4d9;
            }

            &:hover {
                color: lighten(#7fb4d9, 10%);

                &:after {
                    border-bottom: none;
                }
            }
        }
    }
}

.contact {
    &__form {
        width: 666px;
        padding: 25px 25px 15px 25px;
        box-sizing: border-box;
    }

    .form--medium {
        text-align: left;
        &:extend(.fontRegular);
    }

    .form--long {
        margin-right: 0;
    }
}

.pagination {
    text-align: center;
    padding: 30px 20px;

    &__prev, &__next {

        a {
            color: #646464;
            cursor: default;

            &:hover {
                opacity: 1;
            }
        }
    }

    &__item {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        &:extend(.fontRegular);
        color: @color-navy;
        line-height: 1.4;
        margin-right: 10px;

        &--active {

            a {
                color: @color-navy;
                cursor: pointer;

                &:hover {
                    opacity: .5;
                }
            }
        }
    }

    &__counts {
        width: 30px;
        height: 30px;
        border: 1px solid @color-navy;
        padding: 5px;
        box-sizing: border-box;
        text-align: center;
        cursor: pointer;

        a {
            font-size: 16px;
            &:extend(.fontRegular);
            color: @color-navy;
            line-height: 1.4;
        }

        &:hover {
            opacity: .5;
        }

        &--current {
            border: none;
            cursor: default;

            a {
                color: #646464;
                cursor: default;
            }

            &:hover {
                border: none;
                opacity: 1;
            }
        }
    }
}




